@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  --darker-color: #1c0000;
  --dark-color: #3a0000;
  --primary-color: #5e0000;
  --light-color: #861515;
  --lighter-color: #af3737;
  --lightest-color: #ffa5a5;
  --secondary-color: #ffeebd;
  --secondary-color-light: #fff6db;
  --secondary-color-lighter: #fffcf2;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: Amethysta, serif;
  color: var(--primary-color);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1,
h1 {
  font-size: 36px;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 24px;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
  border-top: thin solid;
  border-bottom: thin solid;
  text-transform: uppercase;
  padding: 3px 0 2px;
  margin-bottom: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
